<!--<div class="mailbox-container">-->
<!--  <h1>Welcome to Your Mailbox</h1>-->
<!--  <div *ngIf="mailboxData && mailboxData.length > 0; else noMails">-->
<!--    <ul>-->
<!--      <li *ngFor="let mail of mailboxData">-->
<!--        <a [routerLink]="['/read', mail.id]">-->
<!--          <span>{{ mail.sender }}</span>-->
<!--          <span>{{ mail.subject }}</span>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--  <ng-template #noMails>-->
<!--    <p>No mails available.</p>-->
<!--  </ng-template>-->
<!--</div>-->
