<!--<div class="container">-->
<!--  <h1>Welcome to My Application</h1>-->
<!--  <div *ngIf="!isLoggedIn; else loggedInTemplate">-->
<!--    <app-login (login)="onLogin($event)"></app-login>-->
<!--  </div>-->
<!--  <ng-template #loggedInTemplate>-->
<!--    <h2>You are logged in!</h2>-->
<!--    &lt;!&ndash; Add your authenticated content here &ndash;&gt;-->
<!--  </ng-template>-->
<!--</div>-->

<!--<div class="body">-->
<!--  <div class="login" *ngIf="!is_logged">-->
<!--    <h1>Student Mail</h1>-->
<!--    <h2>Please login!</h2>-->
<!--    <p>Username: <input type="text" [(ngModel)]="username" /></p>-->
<!--    <p>Password: <input type="password" [(ngModel)]="pswd" /></p>-->
<!--    <button class="btn_in" (click)="login()">Login</button>-->
<!--  </div>-->
<!--</div>-->
